{% extends "base.html" %}

{% block content %}
    <img src="https://res.cloudinary.com/dpm3pthvb/image/upload/v1643324030/kw6npwaroncevjsan1x0.webp" class="rounded float-end" alt="image of cakes">  
<div class="about-us">
      <h5 class="about-title fs-2 text-decoration-underline">ABOUT</h5>
      <p class="about-text fs-3 fst-italic">Bakeaholic bliss is a blog that provides you with excellent baking recipes, writing and imagery.
        Bakeaholic also provides you with vegan and gluten free recipes.</p>
        <br>
        <p class="about-text fs-3 fst-italic">The blog provides you with a list of all ingredients you need for baking, and all the required steps to help you bake.</p>
        <br>
      <p class="about-text fs-3 fst-italic">For encouragment, look at some of our posts on the Recipes page. Also feel free to <a class="link" href="{% url 'account_signup' %}">sign up</a> so you can like, comment on our posts and also keep updated with our posts.</p>
</div>

{%endblock%}